fitz
pymupdf
PyMuPDF
textblob
tiktoken
nltk
matplotlib
frontend
tools
fitz
plotly
plotly-express
pandas
transformers
torch
tqdm
streamlit
spacy==3.2.1
scikit-learn
pinecone-client
PyPDF2
pymupdf
fitz
pandas
transformers
torch
tqdm
openai==0.28
spacy
scikit-learn
pinecone-client
PyPDF2
